@font-face {
  font-family: Elsa Fonts;
  src: url(../Fonts/Font.woff2);
}

@font-face {
  font-family: ElsaLucida;
  src: url(../Fonts/lucida\ calligraphy\ italic.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Elsa Fonts", Arial Rounded MT, sans-serif;
  scroll-behavior: smooth;
}

::selection {
  background: #7458ee;
  color: #fff;
}

body {
  --main-color: #7358ee;
  background: #f9f9f9;
  overflow-x: hidden;
  scrollbar-color: rgb(98 84 243);
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 0.9rem;
}

body::-webkit-scrollbar-track {
  background-color: #634cca;
}

body::-webkit-scrollbar-thumb {
  background: #fff;
  border: 4px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

a {
  text-decoration: initial;
  color: initial;
  transition: 0.3s linear;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-color);
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  transition: 0.3s linear;
}

header .logo a::selection {
  background: #917ee6;
}

header nav a::selection {
  background: #917ee6;
}

header .logo a {
  color: #fff;
  font-size: 1.8em;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: ElsaLucida, Arial Rounded MT, sans-serif;
}

header nav {
  padding: 5px 20px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease;
}

nav a {
  letter-spacing: 1px;
  color: #fff;
}

header .icons {
  position: absolute;
  right: 20px;
  background: transparent;
  width: 30px;
  height: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icons input {
  display: none;
}

header .icons label {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

header .icons::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 12px;
  height: 4px;
  border-radius: 10px;
  background: #fff;
  transition: 0.1s linear;
}

header .icons::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 4px;
  border-radius: 10px;
  background: #fff;
  transition: 0.1s linear;
}

header .icons.close::before {
  transform: translateY(8px);
  width: 90%;
}

header .icons.close::after {
  width: 90%;
  transform: translateY(-8px);
}

header .icons .icon {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 20px;
  height: 4px;
  border-radius: 10px;
  background: #fff;
  transition: 0.1s linear;
}

header .icons.close .icon {
  width: 90%;
}

section {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  /* border-top: 2px solid var(--main-color); */
  display: flex;
  align-items: center;
  margin-top: 20px;
}

@media (max-width: 585px) {
  header {
    padding: 10px 15px;
  }
}

@media (max-width: 515px) {
  header {
    padding: 10px 30px;
  }

  header .logo a {
    font-size: 1.5em;
  }

  header nav {
    position: fixed;
    top: 0;
    right: 0;
    background: #785dee8c;
    width: 15rem;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px #000;
    backdrop-filter: blur(20px);
    transform: translateX(100%);
  }

  header nav.active {
    transform: translateX(0);
  }

  header nav a {
    margin: 20px;
    font-size: 1.3em;
  }

  header .icons {
    display: flex;
  }
}

@media (max-width: 325px) {
  header nav {
    width: 100%;
  }
}
